@import '@/assets/css/var.scss';
.none {
  display: none;
}
.block {
  display: block;
}
.classUserCon {
  display: flex;
  justify-content: space-between;
} 
.classType {
  border: solid 1px #d6d6d6;
  height: 400px;
  width: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  .classtitle {
    display: flex;
    height: 35px;
    align-items: center;
    border-bottom: solid 1px #d6d6d6;
    
    .classname {
      width: 153px;
      align-self: center;
      height: 35px;
      line-height: 35px;
      border-right: solid 1px #d6d6d6;
      .classText {
        width: 100%;
        padding-left: 20px;
      }
      .ant-input-affix-wrapper {
        padding: 0;
        line-height: inherit;
        height: 34px;
        border: 0;
      }
      .classInput {
        input {
          border: none;
          height: 33px;
          color: #969696;
          padding-left: 20px;
        }
      }
    }
    .classicons {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .anticon {
        margin-right: 10px;
        font-size: 16px;
        cursor: pointer;
      }
    }
    .classicon {
      height: 35px;
      line-height: 35px;
      text-align: center;
      flex: 1;
      cursor: pointer;
    }
  }
  .titles {
    background: #f1f0f0;
    font-weight: bold;
    .classname {
      padding-left: 20px;
    }
  }
}
.add-message {
  .ant-form-item-label {
    width: 80px;
    text-align: left;
  }
  .ant-form-item {
    margin: 0 auto 20px;
  }
}
.steps-three {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  font-size: 25px;
  .anticon {
    color: #4164F0;
  }
  .suss-text {
    margin-left: 20px;
    color: #4164F0;
  }
}
.steps-two {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  .ant-btn {
    margin-left: 20px;
    border-radius: 10px;
  }
}
.content-main-user {
  .ant-form-item {
    margin: 0 auto 20px;
  }
  .ant-form-item-label {
    width: 80px;
    text-align: left;
  }
}
.add-user-Modal-herder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .user {
      display: flex;
      align-items: center;
      .user-border {
        width: 80px;
        height: 2px;
        background: #afabab;
      }
      .user-text {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: solid 2px #afabab;
        color: #afabab;
      }
    }
    .zong {
      .add-user-title {
        margin-top: 10px;
      }
    }
    .one {
      .add-user-title {
        margin-left: -16px;
      }
    }
    .two {
      .add-user-title {
        text-align: center;
      }
    }
    .three {
      text-align: right;
      margin-right: -10px;
    }
    .cur {
        .add-user-title {
          color: #38c2a6;
        }
        .user {
        .user-border {
          background: #38c2a6;
        }
        .user-text {
          background: #38c2a6;
          color: #fff;
          border: solid 2px #38c2a6;
        }
      }
    }
  }
.account {
  .log-query-main {
    .ant-table .ant-table-cell {
      font-size: 12px;
    }
    .ant-tabs {
      .ant-tabs-nav {
        height: 35px;
        margin-bottom: 3px;
      }
      .ant-tabs-content-holder {
        background: #fff;
        margin: 0;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
      }
    }
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
      margin-left: 20px;
      .ant-tabs-tab {
        margin: 0 50px 0 0;
      }
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: 1px solid #E1E1E1;
    }
  }
  .log-query-select {
    padding-top: 21px;
    margin-bottom: 30px;
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 15px;
      color: #646464;
      border: solid 1px #646464;
    }
  }
  .other-table {
    .ant-table .ant-table-cell {
      font-size: 12px;
    }
    .del {
      color: #FF8C8C;
    }
  }
  .other {
    font-size: 14px;
    margin: 20px 0 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .account-btn {
      .ant-btn {
        border-radius: 10px;
        height: 25px;
        span {
          font-size: 12px;
          display: block;
        }
      }
    }
  }
  .user-login-message {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 30px 0 0 20px ;
  }
  .message-setting-qr {
    padding: 21px 14px 8px;
    border-bottom: 1px solid #E1E1E1;
    .message-qrcode {
      display: flex;
      margin: 21px 11px 14px 18px;
      .qrcode-text {
        font-size: 12px;
        display: flex;
        align-items: flex-end;
      }
      .qrcode-img {
        width: 114px;
        height: 114px;
        margin-right: 11px;
        border: solid 1px #646464;
        img {
          padding: 4px;
          width: 100%;
        }
      }
    }
    .message-title-header {
      border: solid 1px #78B4FF;
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      text-align: center;
      color: #78B4FF;
      background: #EBF5FF;
    }
  }
  .network-main {
    .network-setting {
      .ant-table .ant-table-cell {
        font-size: 12px;
      }
      .user-task {
        cursor: pointer;
        .edit {
          color: #4164F0;
          margin-right: 6px;
        }
        .del {
          color:#FF8C8C;
          font-size: 16px;
        }
        .setting {
          color: #4164F0;
          font-size: 18px;
          margin-right: 6px;
        }
      }
      .network-setting-title {
        border-bottom: solid 1px #E1E1E1;
        padding: 22px 15px;
      }
    }
    .network-dns {
      .network-dns-title {
        margin-bottom: 24px;
      }
      .network-dns-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .networl-value {
          input {
            border-radius: 5px;
          }
        }
        .network-label {
          margin-right: 26px;
        }
      }
      padding: 21px 16px;
      font-size: 12px;
    }
  }
  .account-header-s {
    border-bottom: #E1E1E1 solid 1px;
    padding: 0px 20px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    .account-btn {
      Button {
        font-size: 12px;
        height: 26px;
        border-radius: 5px;
      }
    }
  }
  .system-btn {
    padding-left: 16px;
    Button {
      margin-right: 28px;
      border-radius: 5px;
      font-size: 12px;
      height: 26px;
    }
  }
  .system-text {
    padding: 29px 16px;
    font-size: 14px;
  }
.systemMessage {
  .system-img-main {
    .system-img-title {
      font-size: 12px;
      margin: 30px 20px;
    }
    .system-img-setting-img {
      display: flex;
      margin-left: 50px;
      .img-system {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 199px;
        height: 199px;
        font-size: 130px;
        border: solid 1px #f1f0f0;
        background: #f9f9f9;
      }
      .img-setting {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        font-size: 12px;
        text-align: center;
        color: #fff;
        margin-left: 10px;
        .ant-upload.ant-upload-select-picture-card {
          width: 78px;
          height: 31px;
          margin: 0;
          border: none;
        }
        .ant-upload-list-picture-card-container {
          display: none;
        }
        .img-bottom {
          width: 78px;
          height: 31px;
          line-height: 31px;
          background: #4164F0;
          margin-bottom: 15px;
          border-radius: 5px;
          color: #fff;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
  .system-main {
    display: flex;
    margin-top: 40px;
    font-size: 12px;
    padding-left: 20px;
    .label-value {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding-bottom: 11px;
      border-bottom: solid 1px #E1E1E1;
      margin-left: 10px;
      font-size: 12px;
      .no {
        color: #646464;
      }
      .system-setting {
          width: 57px;
          font-size: 12px;
          height: 21px;
          line-height: 21px;
          background: #4164F0;
          color: #fff;
          text-align: center;
          cursor: pointer;
          border-radius: 3px;
      }
    }
  }
}
 color: #292929;
 .user-table {
  overflow-y: auto;
  height: calc(100vh - 391px);
  .ant-checkbox-inner {
    width: 12px;
    height: 12px;
    &:after {
      opacity: 0;
    }
  }
  .ant-table-selection-column {
    .ant-table-selection {
      display: none;
    }
  }
}
 .table-footer {
  height: 36px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: #E1E1E1 1px solid;
  .ant-checkbox-checked .ant-checkbox-inner::after {
    display: none;
  }
  .ant-checkbox-inner {
    width: 12px;
    height: 12px;
  }
  .check-all {
    margin-right: 12px;
    span {
      font-size: 12px;
    }
    .ant-checkbox-wrapper {
      color: $light;
      font-size: 14px;
      height: 23px;
    }
  }
  .check-total {
    font-size: 12px;
    color: $light;
    margin-right: 50px;
  }
  .action-item {
    margin-right: 50px;
    font-size: 12px;
    .icon-tiaojie {
      color: #282828;
      &:hover {
        color: $light;
        cursor: pointer;
      }
    }
    .icon-del {
      color: #282828;
      font-size: 12px;
      &:hover {
        color: #ff7d78;
        cursor: pointer;
      }
    }
    .icon-set {
      font-size: 18px;
      color: #282828;
      &:hover {
        color: $light;
        cursor: pointer;
      }
    }
  }
  .cancel {
    margin-left: 160px;
  }
  .cancel-button {
    cursor: pointer;
    color: #646464;
    font-size: 16px;
    background: none;
    border: none;
    font-size: 12px;
    &:hover {
      color: $light;
    }
  }
}
 .user-table {
  .user-task {
    cursor: pointer;
    .edit {
      color: #4164F0;
      margin-right: 5px;
    }
    .del {
      color: #FF7878;
      margin-right: 5px;
    }
    .setting {
      color: #323232;
    }
  }
 }
 .account-search {
    display: flex;
    justify-content: space-between;
    padding: 20px 11px;
    .search-right {
      .task-btn {
        user-select:none;
        color: #fff;
        font-size: 12px;
        height: 26px;
        line-height: 26px;
        width: 43px;
        cursor: pointer;
        text-align: center;
        border-radius: 12px;
      }
      .task-edit {
        background: #4164F0;
      }
      .task-close {
        background: #afabab;
      }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 20px;
      font-size: 12px;
    }
    .ant-input:placeholder-shown {
      border-radius: 20px;
      font-size: 12px;
    }
    .ant-btn-primary {
      border-radius: 20px;
      font-size: 12px;
      height: 26px;
    }
  }
 .account-header {
   border-bottom: #E1E1E1 solid 1px;
   padding: 0px 20px 20px;
   font-size: 14px;
 }
}

.system-user {
  .ant-tabs {
    .ant-tabs-nav {
      height: 35px;
    }
    .ant-tabs-content-holder {
      background: #fff;
      margin: 20px 43px;
      height: calc(100vh - 200px);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 30px 30px 10px;
    }
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    margin-left: 43px;
    .ant-tabs-tab {
      margin: 0 100px 0 0;
    }
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 1px solid #E1E1E1;
  }
}