@import '@/assets/css/var.scss';
.partition-page {
	display: flex;
	flex: auto;
	width: 100%;
	flex-direction: column;
	.custom-layout .custom-layout-content {
		overflow-x: hidden;
	}
	.breadCrumb .ant-breadcrumb {
		border: none;
	}
	.container-box {
		padding: 40px;
		overflow: hidden;
		width: 100%;
	}
	.tree-wrapper {
		background: #fff;
		padding: 0 40px 40px;
		box-shadow: 0px 1px 4px 0px rgba(16, 15, 12, 0.2);
		height: calc(100vh - 220px);
		display: flex;
		flex-direction: column;
	}
	.page-title {
		height: 64px;
		line-height: 64px;
		padding-left: 14px;
		font-size: 14px;
		color: #282828;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 20px;
	}
	.partition-tree {
		flex: 1;
		overflow-y: auto;
		.ant-tree .ant-tree-treenode {
			width: 100%;
		}
		.ant-tree .ant-tree-node-content-wrapper {
			flex: 1;
			border-bottom: 1px solid #e1e1e1;
		}
		.tree-item {
			border-bottom: 1px solid #e1e1e1;
			font-size: 14px;
			color: #282828;
			width: 100%;
			&:last-of-type {
				border: none;
			}
			.icon-arrow {
				margin-right: 5px;
			}
			.item-name {
				.text {
					margin-left: 5px;
				}
				.anticon {
					font-size: 14px;
				}
			}
			.item-action-buttons {
				display: inline-flex;
				span {
					margin-left: 30px;
					color: $light;
					font-size: 14px;
					cursor: pointer;
				}
			}
		}
		.tree-children {
			border-top: 1px solid #e1e1e1;
		}
		.item-content {
			height: 28px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}
.none {
	display: none;
}

.control-code-wrapper {
	background: #fff;
	padding: 0 40px 40px;
	box-shadow: 0px 1px 4px 0px rgba(16, 15, 12, 0.2);
	min-height: calc(100vh - 220px);
	display: flex;
	flex-direction: column;	
	.page-title {
		height: 64px;
		line-height: 64px;
		padding-left: 14px;
		font-size: 14px;
		color: #282828;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 20px;
	}
	.control-code-category {
		display: flex;
		border-bottom: 1px solid #e1e1e1;
		.item {
			padding: 10px 10px;
			font-size: 14px;
			color: #646464;
			position: relative;
			cursor: pointer;
			margin-right: 10px;
			margin-bottom: -1px;
			&::after {
				content: '';
				display: none;
				height: 2px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: $light;
			}
			&.active {
				color: $light;
				&::after {
					display: block;
				}
			}
		}
	}
	.control-container {
		display: flex;
		.control-left,
		.control-right
		 {
			width: 50%;
		}
		.left-header {
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 20px;
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: -1px;
			.icon-btn {
				font-size: 16px;
				color: #646464;
				cursor: pointer;
			}
		}
		.control-table {
			.ant-table .ant-table-cell {
				font-size: 16px;
				color: #282828;
				font-weight: normal;
			}
			.icon-edit {
				font-size: 18px;
				color: $light;
				margin: 0 4px;
			}
			.icon-del{
				font-size: 20px;
				color: #FF8C8C;
				margin: 0 4px;
			}
		}
		.control-right {
			padding: 40px 10%;
			.ant-form-horizontal .ant-form-item-label {
				width: 80px;
			}
			.group-name{
				padding-left: 24px;
				margin-bottom: 20px;
			}
			.ant-input {
				height: 36px;
				border: 1px solid #646464;
				border-radius: 6px;
				font-size: 14px;
			}
			.ant-form-item-label > label {
				height: 36px;
			}
		}
	}


}
